In [1]:
import numpy as np

In [20]:
import pandas as pd

In [21]:
df=pd.read_csv('https://raw.githubusercontent.com//Farhingithub//DataSet//main//Encode_file(2).csv')

In [22]:
df

   age  Gender     bmi Dibetes     region
0   19    male  27.900     yes  southwest
1   18  female  33.770      no  southeast
2   28    male  33.000      no  southeast
3   33    male  22.705     yes  northwest
4   32    male  28.880      no  northwest
5   31  female  25.740      no  southeast
6   46  female  33.440     yes  southeast
7   37  female  27.740      no  northwest
8   37    male  29.830      no  northeast
9   60  female  25.840      no   northest

In [23]:
df.dtypes

age          int64
Gender      object
bmi        float64
Dibetes     object
region      object
dtype: object

In [24]:
df_faultyData =df[(df['region'] == 'northest')]

In [25]:
df_faultyData

   age  Gender    bmi Dibetes    region
9   60  female  25.84      no  northest

In [26]:
df.dtypes

age          int64
Gender      object
bmi        float64
Dibetes     object
region      object
dtype: object

In [27]:
df[['Gender','Dibetes']] = df[['Gender','Dibetes']].astype('category')#binary classification

In [31]:
df['region']=df['region'].astype('category')#multinomial classification

In [32]:
##df['region'] = df['region'].cat.codes

In [33]:
df.dtypes

age           int64
Gender     category
bmi         float64
Dibetes    category
region     category
dtype: object

In [34]:
df['Gender']=df['Gender'].cat.codes
df['Dibetes'] = df['Dibetes'].cat.codes#(cat.codes follows label encoder wich is applied for binary classifed data)

In [35]:
df=pd.get_dummies(df,columns=['region'])# get dummies used for multinomial type of classification data type

In [36]:
df

,age,Gender,bmi,Dibetes,region_northeast,region_northest,region_northwest,region_southeast,region_southwest
0,19,1,27.900,1,0,0,0,0,1
1,18,0,33.770,0,0,0,0,1,0
2,28,1,33.000,0,0,0,0,1,0
3,33,1,22.705,1,0,0,1,0,0
4,32,1,28.880,0,0,0,1,0,0
5,31,0,25.740,0,0,0,0,1,0
6,46,0,33.440,1,0,0,0,1,0
7,37,0,27.740,0,0,0,1,0,0
8,37,1,29.830,0,1,0,0,0,0
9,60,0,25.840,0,0,1,0,0,0